.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container__toolbar {
  display: flex;
  gap: 8px;
  margin: 4px 0;
  align-items: center;
  flex-wrap: wrap;
}
.container__table {
  flex: 1;
  height: 0;
}
.container__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8px;
}
